<h1>Add a new photo</h1>

<form action="/create_photo">
  <label for="Image URL">
    Image URL
  </label>
  <input type="text" id="Image URL" name="the_source">
  <br>
  <label for="Caption">
    The Caption
  </label>
  <input type="text" id="Caption" name="the_caption">
  <br>
  <button>Create Photo</button>

</form>
